<% if comment.save %>
	<h3 class="commenter"><%= comment.name %></h3>
	<div class="comment_text"><%= comment.text %></div>
	<div class="date">Comment added: <%= comment.created_at.strftime("%F %H:%M") %></div>
<% end %>

<% if session[:user_id] %>
	<%= button_to 'Delete', [comment.post, comment], method: :delete %>
<% end %>