<div class="container">
  <div class = "row">
    <div class="col">
      <h3>Reply</h3>
	      <ol class ="comments">
	          <%= render @comment.parent if @comment.parent %>
	      </ol>
    </div>
	</div>
	<%= render 'form' %>
</div>