  <div class = "row">
        <div class="col-md-8 col-md-offset-2 ">
            <h3>Reply</h3>
            <ol class ="comments">
                <%= render @comment.parent if @comment.parent %>
            </ol>
        </div>
    </div>

<%= render 'form' %>