<p id="notice"><%= notice %></p>

<head>
  <title>kblog</title>
  <link href="https://fonts.googleapis.com/css?family=Mukta" rel="stylesheet">
</head>
<body>
  <h1 class="title">Kebab places in Riga<h1>
  <div class="content">
    <% @posts.each do |post| %>
      <div class="post">
        <div class="post_title"><%= post.title %></div>
        <div class="image"><%= link_to image_tag(post.thumbnail), post %></div>
      </div>
    <% end %>
  </div>
</body>
<br>