<p id="notice"><%= notice %></p>

<head>
  <title>kblog</title>
</head>
<body>
  <div class="container">
      <div class="row">
        <% @posts.each do |post| %>
          <div class="col">
            <div class="card text-center">
              <div class="card" style="width:500px">
                <% if post.thumbnail.attached? %>
                  <img class="img-fluid card-img-top" <%= image_tag(post.thumbnail) %></img>
                <% end %>
                <div class="card-body">
                  <h4 class="card-title"><%= post.title %></h4>
                  <p class="card-text">Adrese utml</p>
                  <a href="<%= post_path(post) %>" class="btn btn-secondary">More info</a>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
  </div>
</body>