// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.commenter {
	padding-left: 15px;
}

.comment_text {
	padding-left: 15px;
	padding-bottom: 10px;
}

.date {
	text-align: right;
	font-weight: bold;
	font-size: 12px;
	padding-bottom: 10px;
}