// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
	font-family: 'Mukta', sans-serif;
}

nav {
	background-color: grey;
	padding: 30px;
}

.content {
	display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  margin: 1% 15%;
  background-color: rgb(181, 217, 244);
}

.post {
	position: relative;
	align-self: center;
  justify-self: center;
  padding: 30px;
  min-width: 300px;
  min-height: 300px;

}

img {
	max-width: 100%;
	max-height: 100%;
}

.title {
	text-align: center;
}

.post_title {
	position: absolute;
	color: white;
	max-width: 80%;
	top: 10%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.show {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "description image";
	grid-column-gap: 50px;
	margin: 1% 10%;
}

.image_grid {
	grid-template-columns: 100%;
	grid-template-rows: auto;
}